asgiref==3.7.2
Django==5.0.2
django-bootstrap5==23.4
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
django-bootstrap-colors==5.2.1
django-inline-svg==0.1.1
django-bootstrap-icons==0.8.7
pillow==10.2.0
faker==24.3.0
