<!-- extend base template -->
{% extends 'base.html' %}

<!-- title  -->
{% block bootstrap5_title %}
    TiffinBox - Explore
{% endblock %}

{% block content %}
<div class="container">
    <h1>Explore</h1>
    <p>Explore TiffinBox</p>
    {% if tiffins is empty %}
        <p>No tiffins found</p>
    {% else %}
        {% for tiffin in tiffins %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ tiffin.name }}</h5>
                    <p class="card-text">{{ tiffin.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}