.hero {
    background-size: cover;
    background-image: url('../../img/landingimage2.jpg');
    background-position: center;
    color: #fff;
    padding: 100px 0;
    display: flex;
    justify-content: flex-end;
}
.hero-content {
    margin-right: 20px;
    max-width: 800px;
}
.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.tiffins, .businesses {
    margin: 20px;
    background-color: #f8f9fa;
    padding: 40px 0;
    border-radius: 10px;
}

#testimonials {
  position: relative;
}

.testimonial-top,
.testimonial-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1; /* Ensure the layers are behind the content */
}

.testimonial-top {
  background-color: #333333; /* Dark shade color */
}

.section-heading {
    font-size: 35px;
}


.testimonial-bottom {
  background-color: #ffffff; /* White color */
  top: 50%;
  z-index: -1; /* Ensure the layers are behind the content */
}

.testimonial-card {
  position: relative;
  z-index: 1; /* Ensure the cards are above the layers */
}
