/* Custom CSS for the landing page */
 
/* Hero section */
.hero {
    background-image: url('../../img/tiffin-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}
 
.hero-content {
    max-width: 800px;
    margin: 0 auto;
}
 
.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
 
.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}
 
/* Services section */
.tiffins {
    margin: 20px;
    background-color: #f8f9fa;
    padding: 40px 0;
    border-radius: 10px;
}
 
/* Custom Styling for Testimonials Section */
.testimonials {
    padding: 50px 0;
    text-align: center;
}

.testimonial-slider {
    /* display: inline-block; */
    margin: 0 auto;
    max-width: 90%;
    width: 100%; 
    text-align: center; /* Reset text-align for slider contents */
}

.testimonial-slider .slick-slide {
    margin: 0 auto; /* Center the slides horizontally */
}

.testimonial-slider .testimonial {
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-slider .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial-slider blockquote {
    font-size: 18px;
    margin-bottom: 20px;
}

.testimonial-slider cite {
    font-size: 16px;
    font-style: italic;
}

.testimonial-slider .slick-arrow{
    color: #e34949 !important;
    z-index: 1;
}