body {
    text-align: left;
    font-size: 30px !important;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 100%;
    padding: 2rem;
    margin-top: 20px;
}

.card-body {
    min-height: 1px;
    padding: 1rem;
}

.col-md-8 .card {
    width: 100%;
    margin: 0 auto;
}

.row.gutters-sm .col-md-4 {
    display: flex;
    align-items: stretch;
}

.row.gutters-sm .col-md-4 .card-body {
    height: 100%;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #F3274C;
}
