{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container bootstrap snippets bootdey">
        <h1 style="color: #F3274C">Edit Profile</h1>
        <hr>
     <form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                     {% if user_profile.profile_picture %}
                        <img src="{{ user_profile.profile_picture.url }}" class="img-fluid rounded-circle" alt="avatar" style="width: 15em; height: 15em;">
                    {% else %}
                        <img src="{% static 'img/default-user.png' %}" class="img-fluid rounded-circle" alt="avatar" style="width: 15em; height: 15em;">
                    {% endif %}
                    </div>
            </div>
            <div class="col-md-9 personal-info">
                <h3 style="color: #F3274C">Personal info</h3>
                     {% bootstrap_form form layout="horizontal" size="md" show_help=False show_label=True %}
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-8">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
            </div>
        </div>
      </form>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ form.errors }}
    </div>
{% endif %}
{% endblock %}