{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5  %}

{% block content %}
<!-- Script to reset and submit form -->
<script>
function resetFilterForm() {
   let frm = document.getElementById('filter-form');
   frm.reset();
   frm.submit();
}
</script>
<link rel="stylesheet" href="{% static 'styles/user_dashboard/explore.css' %}">
<div class="d-flex flex-column align-items-center">
<div class="container m-2 flex-row">
    <div class="row">
        <div class="col-md-3 w-25">
            <div class="card">
                <h5 class="card-header">Filters</h5>
                <div class="card-body">
                    <!-- All filter -->
                    <form method="POST" action="{% url 'user_dashboard:explore' %}" id="filter-form">
                        {% csrf_token %}
                        {% bootstrap_form filtersForm %}
                        <button type="submit" class="btn btn-outline-primary">Apply Filters</button>
                    </form>
                    <form method="GET" action="{% url 'user_dashboard:explore' %}" id="filter-form">
                        <button type="submit" class="btn btn-primary" style="margin-top: 1em;">Reset Filters</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Search text filter -->
            <form method="GET" class="row" novalidate>
                <div class="col-md-11 p-0">
                    {% bootstrap_form searchForm %}
                </div>
                <div class="col-md-1 p-0">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <!-- List of dishes as cards -->
            <div class="row mt-3">
                {% for dish in tiffins %}
                <div class="col-md-4 my-2">
                    <div class="rounded position-relative item">
                            <img src="{{ dish.photo }}" class="img-fluid w-100 rounded-top" alt="">
                        <div class="text-white category-tage text-center px-3 py-1 rounded position-absolute"
                             style="top: 10px; left: 10px;
                             {% if dish.category == "NON-VEG" %}
                                 background-color: red;
                             {% else %}
                                background-color: #1e832a;
                             {% endif %}">
                        {{ dish.category }}</div>
                        <div class="p-3 border border-secondary border-top-0 rounded-bottom">
                            <h5>{{ dish.name }}</h5>
                            <p>{{ dish.description }}</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-muted fs-5 mb-0">Price: ${{ dish.price }}</p>
                                <a href="{% url 'user_dashboard:tiffindetails' dish.id %}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}