{% extends 'base.html' %}
{% block content %}
<!-- an explore page that has all the filter options, search bar for searching by business name, cusine or  tiffin name -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <!-- Filter options -->
        </div>
      <div class="col-md-6">
        <!-- Search bar container -->
        <div class="d-flex justify-content-end align-items-center">
            <!-- Search input -->
            <input type="text" class="form-control" placeholder="Search...">
            <!-- Search button (optional) -->
            <button class="btn btn-primary">Search</button>
          </div>
      </div>
    </div>
  </div>
{% endblock %}