{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/user_dashboard/landing.css' %}">
<!-- Include Slick Carousel CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">


<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Tiffin Box</h1>
        <p>Your one-stop solution for delicious homemade tiffin meals!</p>
        <a href="{% url 'user_dashboard:explore' %}" class="btn btn-primary">Explore Now</a>
    </div>
</section>

<section id="top-tiffins" class="tiffins">
    <div class="container">
        <h2 class="text-center">Top Tiffins</h2>
        <div class="row justify-content-center">
            {% for tiffin in top_tiffins %}
            <div class="col-md-3 m-2" style="width: 18rem;">
                <div class="card rounded">
                    <img src="{{ tiffin.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ tiffin.tiffin_name }}</h5>
                        <p class="card-text"><small class="text-muted">{{ tiffin.tiffin_description|truncatechars:50 }}</small></p>
                        <a href="{% url 'user_dashboard:tiffindetails' tiffin.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="top-businesses" class="businesses">
    <div class="container">
        <h2 class="text-center">Top Businesses</h2>
        <div class="row justify-content-center">
            {% for business in top_businesses %}
            <div class="col-md-3 m-2">
                <div class="card rounded">
                    <img src="{{ business.profile_picture }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ business.first_name }} {{ business.last_name }}</h5>
                        <p class="card-text"><small class="text-muted">{{ business.shipping_address }}</small></p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Testimonials Section -->
{% if testimonials %}
<section id="testimonials" class="py-5 position-relative">
    <div class="testimonial-top"></div> <!-- This will be the dark shade color -->
    <div class="container">
        <div class="row justify-content-center text-white">
            <div class="col-lg-8 text-center mb-5">
                <h2 class="section-heading mb-3">Our Happy Customers</h2>
                <p class="company-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Proin
                    congue ullamcorper justo, nec maximus lorem mattis id. Vivamus fringilla mi id neque pulvinar, ac
                    facilisis nisi finibus.</p>
            </div>
        </div>
        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-bs-ride="carousel"
            data-bs-interval="10000">
            <div class="carousel-inner py-4">
                {% for i in testimonials|slice:":6" %}
                {% if forloop.first or forloop.counter0|divisibleby:3 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="container">
                        <div class="row justify-content-center">
                            {% endif %}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="card testimonial-card h-100">
                                    <img class="card-img-top mx-auto rounded-circle shadow mb-4"
                                        src="{{ i.user.profile_picture }}" alt="avatar"
                                        style="width: 100px; height: 100px;" />
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">{{ i.user.first_name }} {{ i.user.last_name }}</h5>
                                        <p class="card-text text-muted" id="testimonial-comment">
                                            <i class="fas fa-quote-left pe-2"></i>
                                            <span class="comment">{{ i.comment }}</span>
                                            <i class="fas fa-quote-right ps-2"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.last or forloop.counter0|add:1|divisibleby:3 %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev position-absolute top-50 translate-middle-y" type="button"
                data-bs-target="#carouselMultiItemExample" data-bs-slide="prev" style="left: 3%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next position-absolute top-50 translate-middle-y" type="button"
                data-bs-target="#carouselMultiItemExample" data-bs-slide="next" style="right: 3%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="testimonial-bottom"></div> <!-- This will be the white color -->
</section>
{% endif %}


<script src="{% static 'js/user_dashboard/landing.js' %}"></script>
<!-- font awesome -->

{% endblock %}