{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}
<!-- Script for add to cart counter -->
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.0"></script>

<script>
    function incrementValue() {
        document.getElementById("counter").innerHTML = String(Number(document.getElementById("counter").innerHTML) + 1);
    }

    function decrementValue() {
        const tmp = Number(document.getElementById("counter").innerHTML);
        if(tmp <= 1){
            return
        }
        document.getElementById("counter").innerHTML = String(tmp - 1);
}
</script>
<div class="d-flex flex-column align-items-center">
<!-- Product Details Area Start -->
<div class="container mx-5 flex-row">
<div class="row m-2">
  <div class="col-md-5">
      <img class="img-fluid" src="{{ object.image }}" alt=""/>
  </div>
  <div class="col-md-7">
      <!-- Tiffin name -->
      <div class="row m-2">
          <div class="col-md-12">
              <h2 class="fs-2">{{ object.tiffin_name }}</h2>
          </div>
      </div>
      <!-- Business info -->
      <div class="row m-2">
          <div class="col-md-12">
              <p class="fs-5 m-0">{{ object.business_id.first_name|add:object.business_id.last_name }}</p>
          </div>
      </div>
      <!-- Rating -->
      <div class="row m-2">
          <div class="col-md-12">
              <span class="m-0">
                {% for x in ""|ljust:object.avg_rating %}⭐
                {% endfor %}
                  <a href="#reviews-grid" class="text-muted">({{ review_counts }} Reviews )</a>
              </span>
          </div>
      </div>
      <!-- Price -->
      <div class="row m-2">
          <div class="col-md-12">
              <p class="fs-3 m-0">${{ object.price }}</p>
          </div>
      </div>
      <!-- Description -->
      <div class="row m-2">
          <div class="col-md-12">
              <p class="fs-6">{{ object.tiffin_description }}</p>
          </div>
      </div>
      <hr class="hr m-2" />
      <!-- Add to cart -->
      <div class="row m-2 d-flex flex-row justify-content-around">
        <div class="input-group input-group-lg w-25">
          <input type="button" id="button-minus" class="form-control" value="-" onclick="decrementValue()">
          <span id="counter" class="input-group-text">1</span>
          <input type="button" id="button-plus" class="form-control" value="+" onclick="incrementValue()">
        </div>
        <a href="#" class="btn btn-lg btn-primary w-25">Add to cart</a>
      </div>
      <hr class="hr m-2" />
      <!-- Frequency, meal type, calories -->
      <div class="row m-0">
          {% for label, value, icon in tiffin_extras %}
              <div class="col-4">
                <div class="card card-body py-2">
                  <p class="card-title fw-bold">{% bs_icon icon size='1.2em' %} {{ label }}</p>
                  <p class="card-text">{{ value }}</p>
                </div>
              </div>
          {% endfor %}
      </div>
  </div>
</div>
</div>
<!-- Reviews grid -->
<div class="container mx-5 mt-4 flex-row" id="reviews-grid">
    <h5>Customer Reviews</h5>
    {% if reviews_grid %}
        {% for review_row in reviews_grid %}
        <div class="d-flex justify-content-around">
            {% for review in review_row %}
                <div class="card card-body m-2 p-3">
                    <div class="d-flex justify-content-between">
                        <span class="fs-5">
                            {% bs_icon 'person-circle' size='1.2em' %}
                            {{ review.user__first_name }} {{ review.user__last_name }}</span>
                        <span>{{ review.created_date|date:'N d, Y' }}</span>
                    </div>
                    <span class="py-1">{% for x in ""|ljust:review.rating %}⭐{% endfor %}</span>
                    <span class="card-text fs-6">{{ review.comment }}</span>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <p> Currently, there are no reviews for this tiffin. You can be the first person to share your experience!
        {% if not request.user.is_authenticated %}
        <a href="{% url "user_dashboard:login" %}">Login here</a>
        {% endif %}
    {%  endif %}
</div>
<!-- Recommended tiffins -->
<div class="container m-2 mt-4 flex-row">
    <h5>Recommended tiffins</h5>
    <div class="row mt-3">
        {% for rtiffin in recommended_tiffins %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{ tiffin.image }}" class="card-img-top" alt="{{ rtiffin.tiffin_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ rtiffin.tiffin_name|truncatechars:20 }}</h5>
                    <p class="card-text"><small class="text-muted">Price: ${{ rtiffin.price }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}