{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}
    <!-- Script for add to cart counter -->
    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })

        function incrementValue() {
            document.getElementById("counter").innerHTML = String(Number(document.getElementById("counter").innerHTML) + 1);
        }

        function decrementValue() {
            const tmp = Number(document.getElementById("counter").innerHTML);
            if (tmp <= 1) {
                return
            }
            document.getElementById("counter").innerHTML = String(tmp - 1);
        }

        function addToCart() {
            {% if is_authenticated %}
                const tmp = Number(document.getElementById("counter").innerHTML);
                const resp = fetch(`{% url 'user_dashboard:update-cart' %}?tiffin_id={{ object.id }}&quantity=${tmp}`, {"method": "GET"});
                resp.then((data) => {
                    if (data.status !== 204) {
                        alert("Some error occured!");
                    } else {
                        document.getElementById("cart-alert").classList.remove("collapse");
                    }
                });
                const btn = document.getElementById("add-to-cart-btn");
                btn.hidden = true;

                document.getElementById("counter-container").hidden = true;
            {% else %}
                window.location.href = '{% url 'user_dashboard:login' %}';
            {% endif %}
        }
    </script>
    <div class="alert alert-success collapse" role="alert" id="cart-alert">Items added to cart!</div>
    {% if disallow %}
        <div class="alert alert-danger" role="alert">You have already reviewed this tiffin!</div>
    {% endif %}
    <div class="d-flex flex-column align-items-center">
        <!-- Product Details Area Start -->
        <div class="container mx-5 flex-row">
        
            <div class="row m-2">
                
                <div class="col-md-5">
                    <img class="img-fluid" style="height: 450px; object-fit: cover;" src="{{ object.image.url }}" alt=""/>
                </div>
                <div class="col-md-7">
                    <!-- Tiffin name -->
                    <div class="row m-2">
                        <div class="col-md-12">
                            <h2 class="fs-2">{{ object.tiffin_name }}</h2>
                        </div>
                    </div>
                    <!-- Business info -->
                    <div class="row m-2">
                        <div class="col-md-12">
                            <p class="fs-5 m-0">{{ object.business_id.first_name|add:object.business_id.last_name }}</p>
                        </div>
                    </div>
                    <!-- Rating -->
                    <div class="row m-2">
                        <div class="col-md-12">
              <span class="m-0">
                {% for x in ""|ljust:object.avg_rating %}⭐
                {% endfor %}
                  <a href="#reviews-grid" class="text-muted">({{ review_counts }} Reviews )</a>
              </span>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="row m-2">
                        <div class="col-md-12">
                            <p class="fs-3 m-0">${{ object.price }}</p>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="row m-2">
                        <div class="col-md-12">
                            <p class="fs-6">{{ object.tiffin_description }}</p>
                        </div>
                    </div>
                    <hr class="hr m-2"/>
                    <!-- Add to cart -->
                    <div class="row m-2 d-flex flex-row justify-content-around text-center">
                        <div class="input-group input-group-lg w-25" id="counter-container">
                            <input type="button" id="button-minus" class="form-control" value="-"
                                   onclick="decrementValue()">
                            <span id="counter" class="input-group-text">1</span>
                            <input type="button" id="button-plus" class="form-control" value="+"
                                   onclick="incrementValue()">
                        </div>
                        <button class="btn btn-lg btn-primary w-25" id="add-to-cart-btn" onclick="addToCart()">Add to cart
                        </button>
                        {% if is_authenticated %}
                            <button class="btn btn-md btn-secondary" style="width: 20%"
                                    onclick="location.href = '{% url "user_dashboard:cart" %}';">View
                                your cart
                            </button>
                        {% endif %}
                    </div>
                    <hr class="hr m-2"/>
                    <!-- Frequency, meal type, calories -->
                    <div class="row m-0">
                        {% for label, value, icon in tiffin_extras %}
                            <div class="col-4">
                                <div class="card card-body py-2">
                                    <p class="card-title fw-bold">{% bs_icon icon size='1.2em' %} {{ label }}</p>
                                    <p class="card-text">{{ value }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Reviews grid -->
        <div class="container mx-5 mt-4 flex-row" id="reviews-grid">
            <div>
                <h5 style="display: flex; align-items: center;">Customer Reviews
                    {% if is_authenticated %}(
                    <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#reviewModal">
                        Write a review
                    </button>
                    )
                    {% endif %}
                </h5>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="reviewModalLabel">Write a review</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form class="form-control" method="POST"
                              action="{% url 'user_dashboard:add-review' tiffin.id %}">
                            {% csrf_token %}
                            <label for="review-stars" class="form-label">How many stars would you give this
                                tiffin?</label>
                            <select class="form-select" aria-label="Stars Select" name="review-stars">
                                <option value="5" selected>⭐⭐⭐⭐⭐</option>
                                <option value="4">⭐⭐⭐⭐</option>
                                <option value="3">⭐⭐⭐</option>
                                <option value="2">⭐⭐</option>
                                <option value="1">⭐</option>
                            </select>
                            <label for="review-text" class="form-label">What's on your mind?</label>
                            <textarea class="form-control" id="review-text" name="review-text"></textarea>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if reviews_grid %}
                {% for review_row in reviews_grid %}
                    <div class="row">
                        {% for review in review_row %}
                            <div class="col-md-4">
                                <div class="card card-body m-2 p-3">
                                    <div class="d-flex justify-content-between">
                                        {% if review.user__profile_picture %}
                                            <span>
                                                <img src="{{ review.user__profile_picture }}" alt="h" width="35px" height="35px" class="p-0 m-0">
                                                {{ review.user__first_name }} {{ review.user__last_name }}
                                            </span>
                                        {% else %}
                                            <span class="fs-5">{% bs_icon 'person-circle' size='1.2em' %}{{ review.user__first_name }} {{ review.user__last_name }}</span>
                                        {% endif %}
                                        <span>{{ review.created_date|date:'N d, Y' }}</span>
                                    </div>
                                    <span class="py-1">{% for x in ""|ljust:review.rating %}⭐{% endfor %}</span>
                                    <span class="card-text fs-6">{{ review.comment|truncatechars:150 }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <p> Currently, there are no reviews for this tiffin. You can be the first person to share your
                experience!
                {% if not request.user.is_authenticated %}
                    <a href="{% url "user_dashboard:login" %}">Login here</a>
                {% endif %}
            {% endif %}
        </div>
        <!-- Recommended tiffins -->
        <div class="container m-2 mt-4 flex-row">
            <h5>Recommended tiffins</h5>
            <div class="row mt-3">
                {% for rtiffin in recommended_tiffins %}
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <img src="{{ rtiffin.image.url }}" class="card-img-top"
                                 style="height: 300px; object-fit: cover" alt="{{ rtiffin.tiffin_name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ rtiffin.tiffin_name|truncatechars:20 }}</h5>
                                <p class="card-text"><small class="text-muted">Price: ${{ rtiffin.price }}</small></p>
                                <a href="{% url 'user_dashboard:tiffindetails' rtiffin.id %}"
                                   class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}