{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="container-fluid p-0 m-0"
style="
background-image: url('{% static 'img/img1.png' %}');
background-size: cover;
background-position: center;
padding: 20px;
border-radius: 10px;">
    <div class="row justify-content-center ">
        <div class="col-md-10 d-flex justify-content-center align-items-center mt-5 mb-5">
            <div class="col-md-6 col-lg-6 p-4 rounded shadow bg-white">
                <h2 class="text-center">Reset Password</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout="floating" size="md" show_help=False show_label=True %}
                    <button type="submit" class="btn btn-primary btn-block mt-3 w-100">
                        Reset Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}