{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid p-0 m-0"
style="
background-image: url('{% static 'img/img1.png' %}');
background-size: cover;
background-position: center;
padding: 20px;
border-radius: 10px;">
    <div class="row justify-content-center ">
        <div class="col-md-10 d-flex justify-content-center align-items-center mt-5 mb-5">
            <div class="col-md-6 col-lg-6 p-4 rounded shadow bg-white">
                <h2 class="text-center">Reset Password</h2>
                <p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}