{% extends 'business_dashboard/base.html'%}
{% load django_bootstrap5 %}
{% block content %}
    <div style="background-image: url('/static/img/add_tiffin1.jpg'); background-size: contain; padding: 20px;">
        <div class="row justify-content-center" style="margin-top: 1em; margin-bottom: 1em;">
            <div class="col-md-12">
                <div style="background-color: rgba(255, 255, 255, 0.9); margin-left: 20em; margin-right: 20em; padding: 2em; border-radius: 1em">
                    <h2 class="font-weight-bold text-center" style="margin-bottom: 1em;">Add Tiffin</h2>
                    <form method="post" class="mb-3">
                        {% csrf_token %}
                        {% bootstrap_form form layout="floating" size="md" show_help=False show_label=True %}
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-block mt-3">Add Tiffin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}