{% load svg %}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
        <div class="col-md-1 mb-2 mb-md-0">
            <a href="{% url "business_dashboard:index" %}"
               class="d-inline-flex link-body-emphasis text-decoration-none">
                {% svg 'logo' %}
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% if request.user.is_authenticated %}
                <li><a href="{% url "business_dashboard:orders" 4 %}" class="nav-link px-2 link-secondary">Orders</a></li>
                <li><a href="{% url "business_dashboard:index" %}" class="nav-link px-2 link-secondary">Tiffins</a></li>
            {% endif %}
        </ul>


        {% if request.user.is_authenticated %}
            <div class="col-md-1 text-end">
                <div class="dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% if not request.user.profile_picture %}
                            <img src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
                                 alt="mdo" width="40" height="40"
                                 class="rounded-circle">
                        {% else %}
                            <img src="{{ request.user.profile_picture.url }}" alt="mdo" width="40" height="40"
                                 class="rounded-circle">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="{% url "business_dashboard:profile"%}">View Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url "business_dashboard:edit_profile"%}">Edit Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url "business_dashboard:logout" %}">Log out</a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2"
                        onclick="location.href='{% url "business_dashboard:login" %}';">Login
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="location.href='{% url "business_dashboard:sign-up" %}';">Sign Up
                </button>
            </div>
        {% endif %}
    </header>
</div>