{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11" style="background-image: url('https://cdn.vox-cdn.com/thumbor/aNM9cSJCkTc4-RK1avHURrKBOjU=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/20059022/shutterstock_1435374326.jpg'); background-size: cover; background-position: center; padding: 20px; border-radius: 10px; height: 100vh;">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <div class="login-container" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px;">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
