{% extends 'business_dashboard/base.html'%}
{% block content %}
    <div class="container mx-auto text-center">
        <h1 class="mb-4 mt-3">Profile Summary</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <img src="{{ request.user.profile_picture.url }}" class="rounded-circle" style="max-width: 200px; height: 200px;margin-bottom: 2em" alt="Profile Picture">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-4">
                <div class="row">
                    <div class="col" style="margin-bottom: 1em">
                        <p><strong>Phone Number:</strong></p>
                    </div>
                    <div class="col-md-8">
                        <span class="form-control">{{ user.phone_number }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-bottom: 1em">
                        <p><strong>Registered?</strong></p>
                    </div>
                    <div class="col-md-8">
                        <span class="form-control">
                            {% if user.is_registered %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Address:</strong></p>
                    </div>
                    <div class="col-md-8">
                        <span class="form-control">{{ user.shipping_address }}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="margin-top: 1em">
                    <a href="{% url 'business_dashboard:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}