{% extends "business_dashboard/base.html" %}

{% load django_bootstrap5 %}

{% block content %}
    <div style="background-image: url('/static/img/cuisine-bg.jpeg'); background-position: center; display: flex; justify-content: center; align-items: center; height: 750px">
        <div style="background-color: #f2f2f2; padding: 2em; width: 500px">
            <h2 class="font-weight-bold text-center" style="margin-bottom: 1em">Reset Password</h2>

            {{ code }}
{#            <form method="post" novalidate>#}
{#                {% csrf_token %}#}
{#                {% bootstrap_form form layout="floating" size="lg" show_help=False show_label=True %}#}
{#                <button type="submit" class="btn btn-primary btn-block mt-3 w-100">Generate reset password</button>#}
{#            </form>#}
        </div>
    </div>
{% endblock %}